DATABASE_URL="postgresql://docker:docker@localhost:5433/next-saas?schema=public&sslmode=disable"
PORT=3333
JWT_SECRET="your-super-secret-jwt-key-at-least-8-chars"
GITHUB_OAUTH_CLIENT_ID="your-github-oauth-client-id"
GITHUB_OAUTH_CLIENT_SECRET="your-github-oauth-client-secret"
GITHUB_OAUTH_CLIENT_REDIRECT_URI="http://localhost:3000/api/auth/callback"
